# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=change-me
MONGO_INITDB_DATABASE=BitBotDB
MONGO_PORT=27017

# Vault
VAULT_DEV_ROOT_TOKEN_ID=change-me
VAULT_TOKEN=change-me
VAULT_PORT=8200
VAULT_ADDR=http://vault:8200

# Server
SERVER_PORT=8080
K8S_SERVICE_PORT=80
DOCKER_IMAGE=your-dockerhub-username/crypto-telegram-bot:latest
K8S_APP_NAME=crypto-bot
K8S_DEPLOYMENT_NAME=crypto-bot-deployment
K8S_SERVICE_NAME=crypto-bot-service

# Kafka
KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=9093

# Zookeeper
ZOOKEEPER_PORT=2181

# Telegram Bot
TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_BOT_USERNAME=your_bot_username

# BingX API
BINGX_API_KEY=change-me
BINGX_API_SECRET=change-me
