.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/
*.code-workspace
.history/

### Mac OS ###
.DS_Store

### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

### Logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Environment ###
.env
.infra.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### OS ###
Thumbs.db

### Terraform / Ansible ###
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
ansible/hosts.yml
