FOLDER_ID=your-catalog-folder-id
NETWORK_FOLDER_ID=your-network-folder-id
ZONE=ru-central1-a
VM_NAME=lab5-cryptobot
NETWORK_NAME=default
SUBNET_NAME=default-ru-central1-a
REMOTE_USER=ubuntu
SSH_KEY_PATH=~/.ssh/id_yc.pub
SSH_PRIVATE_KEY_FILE=~/.ssh/id_yc
