# Глобальные настройки Ansible
[defaults]
# Путь к инвентарному файлу
inventory = ./hosts.yml
# Отключение проверки отпечатков SSH-ключей
host_key_checking = False
# Таймаут соединения
timeout = 30

# Параметры повышения привилегий
[privilege_escalation]
# Активация режима суперпользователя
become = True
# Метод переключения контекста
become_method = sudo
# Целевая учётная запись
become_user = root
